<h1><% t('editing.minning_type') %></h1>

<%= render 'form', minning_type: @minning_type %>

<%= link_to t('links.show'), @minning_type, class:"btn btn-primary" %> |
<%= link_to t('links.back'), minning_types_path, class:"btn btn-secondary" %>
